@page
@model forkgg.Pages.Docs
@{
    ViewData["Title"] = "Docs - Fork";
}

<link rel="stylesheet" href="~/css/docs.css"/>

<div id="docBody" class="container-fluid">
    <nav class="navbar fixed-top ">
        <a class="nav-item nav-link" asp-area="" asp-page="Index"><i class="fas fa-arrow-circle-left mr-2"></i>Back to Fork</a>
        Fork Documentation
    </nav>
    <div class="row">
        @*Sidebar*@
        <nav class="col-3 col-md-2 sidebar">
            <div class="flex-column navbar align-items-baseline navbar-dark">
                <div>
                    @foreach (var chapter in Model.Chapters)
                    {
                        <div class="chapter mb-3">
                            <a href="#@chapter.Name.Replace(" ","-")" class="nav-item nav-link title">@chapter.Name</a>
                            @foreach (var entry in chapter.Entries)
                            {
                                <a href="#@entry.Name.Replace(" ","-")" class="nav-item nav-link entry">@entry.Name</a>
                            }
                        </div>
                    }
                </div>
            </div>
        </nav>
        <div class="col-9 col-md-10 content-host">
            @foreach (var chapter in Model.Chapters)
            {
                <div class="chapter-content">
                    @if (!string.IsNullOrEmpty(chapter.ContentHtml))
                    {
                        <div id="@chapter.Name.Replace(" ","-")">
                            @Html.Raw(chapter.ContentHtml)
                        </div>
                    }
                    @foreach (var entry in chapter.Entries)
                    {
                        <div id="@entry.Name.Replace(" ","-")">
                            @Html.Raw(entry.ContentHtml)
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>